.section {
  overflow: hidden;
  transition: max-height 0.3s ease-in-out 0s;
  height: auto;
  max-height: 1600px;
}
.section-collapsed {
  max-height: 0;
}

/* .section-collapsed > * {
  display: none;
} */
