html {
  @apply bg-gray-800;
  @apply font-sans;
}

h1 {
  @apply text-3xl;
  @apply text-gray-200;
}

h2 {
  @apply text-2xl;
  @apply text-gray-200;
}
p {
  @apply text-base;
  @apply text-gray-200;
  @apply my-5;
}
.bannerbigimage {
  top: 60px;
  z-index: -1;
}

.bannerbigimage > * img {
  transition-duration: 1s;
  filter: brightness(40%) blur(7px) grayscale(100%);
}

.bannerbigimage > * img:hover {
  transition-duration: 1s !important;
  filter: brightness(40%) blur(0px) !important;
}

.circleimg > * img {
  clip-path: circle(73px at center);
  width: 146px !important;
}
